.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.advantages {
  padding-bottom: 97px;
  background-color: getColor('revers-bg-color');
  @media screen and (min-width: 768px) {
    padding-bottom: 136px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 139px;
  }
}

.advantages-examples {
  @media screen and (min-width: 768px) {
    margin-top: 0;
    display: flex;
    column-gap: 60px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 30px;
  }
}

.advantages-examples__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 39px;
    width: 230px;
  }
}

.advantages-examples__item::before {
  display: block;
  content: '';
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.advantages-examples__item:nth-child(1)::before {
  background-image: url(../images/advantages_icons/icon1.png);
}

.advantages-examples__item:nth-child(2)::before {
  background-image: url(../images/advantages_icons/icon2.png);
}

.advantages-examples__item:nth-child(3)::before {
  background-image: url(../images/advantages_icons/icon3.png);
}

.advantages-examples__title {
  margin-bottom: 10px;
  display: block;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  text-transform: uppercase;

  color: getColor('red-color');
  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.145;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.137;
  }
}

.advantages-examples__text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;

  color: getColor('black-color');
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
