.customer-reviews {
  padding-bottom: 86px;

  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;

    @media screen and (min-width: 768px) {
      margin-bottom: 19px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }

  &__img:hover,
  &__img:focus {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    // border-radius: 50%;
    // transform: scale(1.15);
    // box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 10px;
    // z-index: 5;
  }

  &__textwrapper {
    position: relative;
    margin-bottom: 52px;
    padding: 43px 50px 20px 50px;
    @media screen and (min-width: 768px) {
      margin-bottom: 42px;
      padding: 30px 36px 28px 40px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 34px;
      padding: 32px 54px 32px 50px;
    }

    background: getColor('review-section-bg-color');
    // opacity: 0.4;
  }

  &__textwrapper::after {
    content: '';
    background: url(../images/customer-reviews/circlesgroup.png) no-repeat;
    position: absolute;
    bottom: -30px;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;

    @media screen and (min-width: 768px) {
      bottom: -24px;
    }

    @media screen and (min-width: 1280px) {
      bottom: -15px;
    }

    width: 32px;
    height: 4px;
  }

  &__text::before {
    content: '';
    background: url(../images/customer-reviews/quotes.png) no-repeat;
    width: 54px;
    height: 40px;
    display: block;
    position: absolute;
    left: -8px;
    top: -10px;
    z-index: -1;
  }

  &__text {
    position: relative;
    z-index: 2;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-align: center;

    color: getColor('black-color');

    background: repeating-linear-gradient(#fafafa, #fafafa 26px, #e1e1e1 29px, #e1e1e1 29px);
  }

  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: getColor('black-color');
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 35px;
      font-size: 16px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
    }
  }
}

.swiper-pagination-bullet-active {
  background-image: url(../images/customer-reviews/home.png);
  background-size: cover;
  border-radius: unset;
  width: 12.4px;
  height: 11.84px;
  background-color: #fff;
  &:hover {
    transform: scale(1.18);
  }
}
