.footer {
  background-color: getColor('revers-bg-color');
}

.footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__text {
  color: getColor('pink-color');
  font-family: Titan One;
  font-size: 18px;
  line-height: 1, 16;
  text-transform: uppercase;
  max-width: 232px;
//   margin-top: 113px;
  @media screen and (min-width: 768px) {
    // margin-top: 165px;
    max-width: 340px;
    font-size: 26px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    max-width: none;
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__top-text {
  color: getColor('red-color');
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 200px;
  margin-top: 17px;
  @media screen and (min-width: 768px) {
    max-width: 340px;
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1280px) {
    max-width: none;
    font-size: 58px;
    line-height: 1.14;
  }
}

.footer__right {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    // margin-top: 158px;
    margin-left: 91px;
    width: 50%;
  }
  @media screen and (min-width: 1280px) {
    // margin-top: 165px;
  }
}

.footer__left {
  @media screen and (min-width: 768px) {
    margin-bottom: 91px;
    width: 50%;
  }
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  margin-top: 43px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.social-item {
  margin-left: 28px;
  margin-bottom: 46px;
}

.social-link {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: getColor('link-hf-color');
  }
}

.social-icon {
  fill: #ffffff;
}

.footer__contaсt-text {
  color: #000000;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1, 86;
  text-align: right;
  margin-bottom: 43px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contaсt-tel {
  color: getColor('red-color');
}

.footer__bottom-wrap {
  border-top: 1px solid #e1e1e1;
}

.footer__bottom-text {
  color: getColor('another-color');
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  max-width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  margin-top: 22px;
  @media screen and (min-width: 768px) {
    max-width: none;
    padding-bottom: 10px;
  }
}
