
.gallery {
background: linear-gradient(to bottom, getColor("revers-bg-color") 40%,getColor("main-bg-color") 40%);
		&__img {
		}

		&__wrapper {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-gap: 5px;
		}

		&__item {
			&:nth-child(1){
				grid-column-start: 1;
				grid-row-start: 1;
				grid-row-end: 4;
			}
			&:nth-child(3){
				grid-column-start: 3;
				grid-column-end: 5;
				grid-row-start: 1;
				grid-row-end: 3;
			}
		}

		&__image {
		}
}
