.site-header {
  background-color: transparent;
}
.header {
  position: relative;
}
.header-wrap {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 38px;
  }
}
.header-logo {
  display: flex;
  align-items: center;
  @media screen and (min-width: 1280px) {
    transform: translateX(-70px);
  }
}

.logo-text {
  margin-left: 20px;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: getColor('red-color');
}

.header-nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.nav-list {
  display: flex;
}
.nav-item > a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: getColor('white-color');

  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: getColor('red-color');
  }
}
.nav-item:not(:last-child) {
  margin-right: 35px;
}

.header__button {
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 30px;

  width: 160px;
  height: 44px;

  font-size: 16px;
  font-weight: 700;

  @media screen and (max-width: 549px) {
    display: none;
  }
  @media screen and (min-width: 550px) and (max-width: 767px) {
    margin-left: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 30px;
  }
}

.header__button-menu {
  justify-content: center;

  width: 209px;
  height: 44px;

  margin-bottom: 19px;
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    width: 186px;
  }
  svg {
    margin-left: 15px;
  }
}

// Mobile menu
.menu-toggle {
  background-color: transparent;
}

.menu-toggle.js-open-menu {
  margin-left: auto;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.menu-toggle.js-close-menu {
  position: absolute;
  top: 24px;
  right: 28px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  width: 250px;
  min-width: 50vw;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor('manu-bg-color');

  transform: translateX(100%);

  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 70vw;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-item {
  padding-left: 21px;
  padding-right: 21px;
  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  border-top: 1px solid #e18298;
  &:last-child {
    border-bottom: 1px solid #e18298;
  }
}

.menu-link {
  display: block;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
  color: getColor('white-color');

  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: getColor('red-color');
  }
}
