.site-header {
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 3;
}
.header {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;

  align-items: center;
}

.logo-text {
  margin-left: 20px;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: getColor('red-color');
}

.header-nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.nav-list {
  display: flex;
}
.nav-item > a {
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: getColor('white-color');
  &:hover,
  &:focus {
    color: getColor('red-color');
  }
}
.nav-item:not(:last-child) {
  margin-right: 35px;
}

.header__button {
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 30px;

  width: 160px;
  height: 44px;
  border: none;

  font-size: 16px;
  font-weight: 700;

  @media screen and (max-width: 549px) {
    display: none;
  }
}

.header__button-menu {
  justify-content: center;
  // padding-left: 48px;
  // padding-right: 48px;

  width: 209px;
  height: 44px;
  border: none;

  margin-bottom: 19px;

  font-size: 16px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    width: 186px;
  }
  svg {
    margin-left: 15px;
  }
}

// Mobile menu
.menu-toggle {
  background-color: transparent;
  border: none;
}

.menu-toggle.js-open-menu {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.menu-toggle.js-close-menu {
  position: absolute;
  top: 24px;
  right: 28px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 60px 21px;
  background-color: getColor('manu-bg-color');

  transform: translateX(100%);

  transition: transform 300ms linear;

  @media screen and (min-width: 768px) {
    width: 70vw;
    padding: 24px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-item {
  border-top: 1px solid #e18298;
  &:last-child {
    border-bottom: 1px solid #e18298;
  }
  &:hover,
  &:focus {
    color: getColor('red-color');
  }
  a {
    display: block;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    color: getColor('white-color');
  }
}
