.hero {
  background-color: getColor('another-bg-color');
  padding-top: 80px;
}

.hero-heading {
  width: 218px;
  font-size: 26px;
  color: getColor('white-color');
  @media screen and (min-width: 768px) {
    width: 162px;
    font-size: 22px;
  }
  @media screen and (min-width: 1280px) {
    width: 277px;
    font-size: 38px;
  }
}
.heading-accent {
  font-size: 37px;
  font-weight: 400;
  color: getColor('red-color');
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.hero-links {
  display: flex;
  li:not(:last-child) {
    margin-right: 8px;
    @media screen and (min-width: 1280px) {
      margin-right: 15px;
    }
  }
}

.hero-button {
  display: block;
  padding: 8px 15px;
  font-size: 8px;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}

.hero-about {
  @media screen and (max-width: 550px) {
    display: none;
  }
}
.hero-about-text {
  font-size: 8px;
  width: 114px;
  color: getColor('white-color');
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    width: 200px;
  }
}

.hero-about-button {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: getColor('white-color');

  @media screen and (min-width: 1280px) {
    height: 26px;
    width: 26px;
  }
}
.about-button-icon {
  fill: getColor('red-color');
}

.hero-numbers-numeral {
  position: relative;
  display: block;
  line-height: 1.14;
  font-size: 28px;
  font-family: 'Titan One';
  color: getColor('red-color');
  z-index: 2;
}

.hero-numbers-circle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-60%, -30%);
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: getColor('white-color');
  z-index: 0;
}
.hero-numbers-item {
  margin-left: auto;

  position: relative;
  width: 50px;
  font-size: 8px;
  color: getColor('white-color');

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}
.hero-numbers-text {
  padding-left: 15px;
}

.hero-bg-circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: getColor('pink-color');
}

// .hero-icecream-image {
// }
.hero-milk-image {
  @media screen and (max-width: 787px) {
    display: none;
  }
}
.hero-girl-image {
  @media screen and (max-width: 787px) {
    display: none;
  }
}
