@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  font-style: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Titan One", cursive;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  background: #ffffff;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selector {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button--red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 23px;
  color: #ffffff;
  background: #D41342;
  border-radius: 20px;
  line-height: 1.28;
  cursor: pointer;
}

.button--red:hover, .button--red:focus {
  background: #C7133E;
}

.button--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 23px;
  color: #D41443;
  background: #ffffff;
  border-radius: 20px;
  line-height: 1.28;
  cursor: pointer;
}

.button--white:hover, .button--white:focus {
  background: #ECEBEB;
}

.general-title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 115px;
  }
}

.site-header {
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  margin-left: 20px;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (max-width: 1279px) {
  .header-nav {
    display: none;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item > a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

.nav-item > a:hover, .nav-item > a:focus {
  color: #D41443;
}

.nav-item:not(:last-child) {
  margin-right: 35px;
}

.header__button {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 40px;
  padding-right: 30px;
  width: 160px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 549px) {
  .header__button {
    display: none;
  }
}

.header__button-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 209px;
  height: 44px;
  margin-bottom: 19px;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .header__button-menu {
    width: 186px;
  }
}

.header__button-menu svg {
  margin-left: 15px;
}

.menu-toggle {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1280px) {
  .menu-toggle.js-open-menu {
    display: none;
  }
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 24px;
  right: 28px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 60px 21px;
  background-color: #E17992;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 70vw;
    padding: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-item {
  border-top: 1px solid #e18298;
}

.menu-item:last-child {
  border-bottom: 1px solid #e18298;
}

.menu-item:hover, .menu-item:focus {
  color: #D41443;
}

.menu-link {
  display: block;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
}

.hero {
  background-color: #FFB8CA;
  padding-top: 80px;
}

.hero-heading {
  width: 218px;
  font-size: 26px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-heading {
    width: 162px;
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-heading {
    width: 277px;
    font-size: 38px;
  }
}

.heading-accent {
  font-size: 37px;
  font-weight: 400;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .heading-accent {
    font-size: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .heading-accent {
    font-size: 58px;
  }
}

.hero-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-links li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 1280px) {
  .hero-links li:not(:last-child) {
    margin-right: 15px;
  }
}

.hero-button {
  display: block;
  padding: 8px 15px;
  font-size: 8px;
}

@media screen and (min-width: 1280px) {
  .hero-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .hero-about {
    display: none;
  }
}

.hero-about-text {
  font-size: 8px;
  width: 114px;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero-about-text {
    font-size: 14px;
    width: 200px;
  }
}

.hero-about-button {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero-about-button {
    height: 26px;
    width: 26px;
  }
}

.about-button-icon {
  fill: #D41443;
}

.hero-numbers-numeral {
  position: relative;
  display: block;
  line-height: 1.14;
  font-size: 28px;
  font-family: 'Titan One';
  color: #D41443;
  z-index: 2;
}

.hero-numbers-circle {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-60%, -30%);
          transform: translate(-60%, -30%);
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 0;
}

.hero-numbers-item {
  margin-left: auto;
  position: relative;
  width: 50px;
  font-size: 8px;
  color: #ffffff;
}

.hero-numbers-item:not(:last-child) {
  margin-bottom: 13px;
}

.hero-numbers-text {
  padding-left: 15px;
}

.hero-bg-circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #FFA5BA;
}

@media screen and (max-width: 787px) {
  .hero-milk-image {
    display: none;
  }
}

@media screen and (max-width: 787px) {
  .hero-girl-image {
    display: none;
  }
}

.products {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    padding-bottom: 120px;
  }
}

.products__label {
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
}

@media screen and (min-width: 768px) {
  .products__label {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .products__label {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  margin-bottom: 145px;
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 150px;
    font-size: 55px;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 260px;
    font-size: 58px;
  }
}

@media screen and (min-width: 768px) {
  .products-exemple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products-exemple__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 160px;
  padding-bottom: 40px;
  width: 280px;
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .products-exemple__item:not(:last-child) {
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .products-exemple__item {
    -ms-flex-preferred-size: 220px;
        flex-basis: 220px;
    padding-top: 155px;
  }
  .products-exemple__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products-exemple__item {
    -ms-flex-preferred-size: 329px;
        flex-basis: 329px;
    padding-top: 165px;
    padding-bottom: 50px;
  }
  .products-exemple__item:not(:last-child) {
    margin-right: 24px;
  }
}

.products-exemple__item:nth-child(1) {
  background-color: #FFB8CA;
}

.products-exemple__item:nth-child(1)::before {
  background-image: url(../images/products/product1.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-exemple__item:nth-child(1)::before {
    background-image: url(../images/products/product1_2x.png);
  }
}

.products-exemple__item:nth-child(2) {
  background-color: #f0d1a5;
}

.products-exemple__item:nth-child(2)::before {
  background-image: url(../images/products/product2.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-exemple__item:nth-child(2)::before {
    background-image: url(../images/products/product2_2x.png);
  }
}

.products-exemple__item:nth-child(3) {
  background-color: #c2e297;
}

.products-exemple__item:nth-child(3)::before {
  background-image: url(../images/products/product3.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-exemple__item:nth-child(3)::before {
    background-image: url(../images/products/product3_2x.png);
  }
}

.products-exemple__item::before {
  content: '';
  position: absolute;
  top: -115px;
  left: 16px;
  display: block;
  width: 250px;
  height: 252px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .products-exemple__item::before {
    width: 220px;
    height: 226px;
    top: -105px;
    left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .products-exemple__item::before {
    width: 335px;
    height: 335px;
    top: -210px;
  }
}

.products-exemple__title {
  position: relative;
  margin-bottom: 66px;
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .products-exemple__title {
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-exemple__title::after {
  content: '. . .';
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 6px;
  color: #ffffff;
}

.products-exemple__text {
  width: 200px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .products-exemple__text {
    width: 242px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.products-exemple__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../images/products/arrow-right.jpg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.advantages {
  padding-bottom: 97px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 66px;
    padding-bottom: 136px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages {
    padding-top: 39px;
    padding-bottom: 139px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -60px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-examples {
    margin-left: -30px;
  }
}

@media screen and (max-width: 767px) {
  .advantages-examples__item {
    width: 230px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-examples__item {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-examples__item {
    margin-left: 30px;
  }
}

.advantages-examples__item::before {
  display: block;
  content: '';
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 39px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages-examples__item::before {
    margin-top: 0;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-examples__item::before {
    margin-bottom: 40px;
  }
}

.advantages-examples__item:nth-child(1)::before {
  background-image: url(../images/advantages_icons/icon1.png);
}

.advantages-examples__item:nth-child(2)::before {
  background-image: url(../images/advantages_icons/icon2.png);
}

.advantages-examples__item:nth-child(3)::before {
  background-image: url(../images/advantages_icons/icon3.png);
}

.advantages-examples__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .advantages-examples__title {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.145;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-examples__title {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.137;
  }
}

.advantages-examples__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages-examples__text {
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-examples__text {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}

.gallery {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #FFF5F6), color-stop(40%, #ffffff));
  background: linear-gradient(to bottom, #FFF5F6 40%, #ffffff 40%);
}
/*# sourceMappingURL=main.css.map */