<section class="section">
  <div class="container hi">
    <p class="about-title">tradition and love</p>
    <h2 class="about-text">how it’s made?</h2>

    <div class="about-wrap-text">
      <p class="about-text-one">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about-text-two">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. <br /><br />
        Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button type="button" class="button--white about-btn">
        Read more
        <svg class="about-svg" width="5" height="8">
          <use href="./images/sprite.svg#arrow-short"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
