<section class="contacts" id="contacts">
    <div class="container contacts__container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                    <p class="contacts__pre-title">CAFE</p>
                    <h3 class="contacts__title">Chicago</h3>
                    <p class="contacts__after-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <ul class="contacts__list-timetable timetable">
                            <li class="timetable__item">
                                <p class="timetable__day">Monday - Friday</p>
                                <p class="timetable__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="timetable__item">
                                <p class="timetable__day">Saturday - Sunday</p>
                                <p class="timetable__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <ul class="contacts__list-communications communications">
                            <li class="communications__item">
                                <a class="communications__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="communications__item">
                                <a class="communications__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
            </li>
            <li class="contacts__item">
                    <p class="contacts__pre-title pre-title">FOOD TRUCK</p>
                <h3 class="contacts__title">Los Angeles</h3>
                <p class="contacts__after-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__list-timetable timetable">
                        <li class="timetable__item">
                            <p class="timetable__day">Monday - Friday</p>
                            <p class="timetable__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="timetable__item">
                            <p class="timetable__day">Saturday - Sunday</p>
                            <p class="timetable__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contacts__list-communications communications">
                        <li class="communications__item">
                            <a class="communications__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="communications__item">
                            <a class="communications__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
            </li>
            <li class="contacts__item">
                    <p class="contacts__pre-title">CAFE</p>
                <h3 class="contacts__title">New York</h3>
                <p class="contacts__after-title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__list-timetable timetable">
                        <li class="timetable__item">
                            <p class="timetable__day">Monday - Friday</p>
                            <p class="timetable__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="timetable__item">
                            <p class="timetable__day">Saturday - Sunday</p>
                            <p class="timetable__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contacts__list-communications communications">
                        <li class="communications__item">
                            <a class="communications__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="communications__item">
                            <a class="communications__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
            </li>
        </ul>
        <ul class="contacts-btn__list list">
            <li class="contacts-btn__item">
                <button class="contacts-btn__button button--red" type="submit">Our Locations
                    <svg class="contacts-btn__icon" width="4.43" height="8">
                            <use href="./images/sprite.svg#arrow-short-white"></use>
                    </svg>
                </button>
            </li>
            <li class="contacts-btn__item">
                <button class="contacts-btn__button button--white" type="submit">Franchise
                    <svg class="contacts-btn__icon" width="4.43" height="8">
                        <use href="./images/sprite.svg#arrow-short"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>