<section class="customer-reviews">
    <div class="container">
        <div class="swiper mySwiper customer-reviews__swiper">
            <h2 class="customer-reviews__title visually-hidden">Customer Reviews</h2>
            <ul class="swiper-wrapper customer-reviews__list">
    
                <li class="swiper-slide customer-item customer-reviews__item">
                    <img src="./images/customer-reviews/testimonials1.png" class="customer-reviews__img"
                        alt="customer-review">
                    <div class="customer-reviews__textwrapper">
                        <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus
                        </p>
                    </div>
                    <p class="customer-reviews__name">Emily, Los Angeles</p>
                </li>
    
                <li class="swiper-slide customer-reviews__item">
                    <img src="./images/customer-reviews/testimonials2.png" class="customer-reviews__img"
                        alt="customer-review">
                    <div class="customer-reviews__textwrapper">
                        <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus
                        </p>
                    </div>
                    <p class="customer-reviews__name">Kim, San Diego</p>
                </li>
    
                <li class="swiper-slide customer-reviews__item">
                    <img src="./images/customer-reviews/testimonials3.png" class="customer-reviews__img"
                        alt="customer-review">
                    <div class="customer-reviews__textwrapper">
                        <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus
                        </p>
                    </div>
                    <p class="customer-reviews__name">Elise, Sacramento</p>
                </li>
            </ul>
    
    
            <div class="swiper-pagination customer-reviews__pagination"></div>
        </div>
    </div>
</section>





