<section class="customer-reviews">
    <div class="container">
        <img src="./images/customer-reviews/testimonials1.png" class="customer-reviews__img" alt="customer-review">
        <div class="customer-reviews__swiper">
            <p class="customer-reviews__slide">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus
            </p>
        </div>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
    </div>
</section>