<footer >
    <div class="container">
<p class="text">homemade ice cream made</p>
<p class="top-text">with passion
</p>
<ul class="social-list list">
    
        <li class="social-item">
            <a href="https://github.com/" target="_blank" class="social-link">
                <svg class="social-icon" width="32" height="32">
                    <use href="./images/sprite-footer.svg#icon-git"></use>
                </svg>
            </a>
        </li>
        <li class="social-item">
            <a href="https://telegram.com/" target="_blank" class="social-link">
                <svg class="social-icon" width="32" height="32">
                    <use href="./images/sprite-footer.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="social-item">
            <a href="https://facebook.com/" target="_blank" class="social-link">
                <svg class="social-icon" width="32" height="32">
                    <use href="./images/sprite-footer.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    
</ul>
</div>
</footer>