<footer class="footer">
    <div class="container">
        <p class="footer__text">homemade ice cream made</p>
        <p class="footer__top-text">with passion
        </p>
        <ul class="footer__social-list li">

            <li class="social-item">
                <a href="https://github.com/" target="_blank" class="social-link">
                    <svg class="social-icon" width="20" height="20">
                        <use href="./images/products/sprite-footer.svg#icon-git"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="https://telegram.com/" target="_blank" class="social-link">
                    <svg class="social-icon" width="20" height="20">
                        <use href="./images/products/sprite-footer.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="https://facebook.com/" target="_blank" class="social-link">
                    <svg class="social-icon" width="20" height="20">
                        <use href="./images/products/sprite-footer.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        
        <p class="footer__contaсt-text">Feel free to contact <a class="contaсt-tel"
            href="tel:+61 (0) 383 766 284">+61 (0) 
            383 766 284</a></p>
            
        
    </div>

    
    <div class="footer__bottom-wrap">
        <p class="footer__bottom-text">© 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>