<section class="gallery">
	<div class="container">
		<h2 class="selector">gallery</h2>
		<ul class="gallery__wrapper">
			<li class="gallery__item"><img src="./images/icons/gallery1.png" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery2.png" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery3.png" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery4.png" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery5.png" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery6.png" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery7.png" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery8.png" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery9.png" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery10.png" alt="gallery" class="gallery__image"></li>
		</ul>
	</div>
</section>