<section class="gallery">
	<div class="container">
		<h2 class="selector">gallery</h2>
		<ul class="gallery__wrapper">
			<li class="gallery__item"><img src="./images/icons/gallery1.jpg" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery2.jpg" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery3.jpg" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery4.jpg" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery5.jpg" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery6.jpg" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery7.jpg" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery8.jpg" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery9.jpg" alt="gallery" class="gallery__image"></li>
			<li class="gallery__item"><img src="./images/icons/gallery10.jpg" alt="gallery" class="gallery__image"></li>
		</ul>
	</div>
</section>