<section class="hero">

    <h1 class="general-title">ice cream made with <span>passion</span></h1>

    <ul class="hero-links list">
        <li>
            <button class="button--red hero-links-item">Products</button>
        </li>
        <li>
            <button class="button--white hero-links-item">How it’s made?</button>
        </li>
    </ul>

    <div class="hero-bg-circle"></div>

    <ul class="hero-numbers list">
        <li><span class="numeral">16</span>cafes</li>
        <li><span>23</span>food trucks</li>
    </ul>

    <div class="hero-about">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button">
            <svg height="12" width="20">
                <use href="./images/sprite.svg#arrow-long"></use>
            </svg>
        </button>
    </div>

   

</section>