<section class="hero">
    <div class="container">
        <div class="hero-wrap">
            <div class="hero-main-block">
                <h1 class="general-title hero-heading">ice cream made with <span class="heading-accent">passion</span></h1>
                
                <ul class="hero-links">
                    <li>
                        <a href="#products" class="button--red hero-button">Products</a>
                    </li>
                    <li>
                        <a href="#about" class="button--white hero-button">How it’s made?</a>
                    </li>
                </ul>
            </div>
            
            <div class="hero-bg-circle">
                <picture class="hero-icecream-image">
                    <source srcset="./images/header-hero/hero-icecream.png 1x, ./images/header-hero/hero-icecream@2x.png 2x"
                        media="(min-width:1280px)">
                    <source
                        srcset="./images/header-hero/hero-icecream-tablet.png 1x, ./images/header-hero/hero-icecream-tablet@2x.png 2x"
                        media="(min-width:768px)">
                    <source
                        srcset="./images/header-hero/hero-icecream-mobile.png 1x, ./images/header-hero/hero-icecream-mobile@2x.png 2x"
                        media="(max-width:767px)">
                    <img src="./images/header-hero/hero-icecream.png" alt="Ice cream">
                </picture>
            </div>
            
            <ul class="hero-numbers-block">
                <li class="hero-numbers-item">
                    <span class="hero-numbers-numeral">16</span>
                    <span class="numbers-text-right">cafes</span>
                    <div class="hero-numbers-circle"></div>
                </li>
                <li class="hero-numbers-item">
                    <span class="hero-numbers-numeral">23</span>
                    <span class="numbers-text-left">food trucks</span>
                    <div class="hero-numbers-circle"></div>
                </li>
            </ul>
            
            <div class="hero-about">
                <p class="hero-about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et</p>
                <button class="hero-about-button" type="button">
                    <svg height="10" width="6" class="about-button-icon">
                        <use href="./images/sprite.svg#arrow-long"></use>
                    </svg>
                </button>
            </div>
            
            
            
            <picture class="hero-milk-image">
                <source srcset="./images/header-hero/hero-milk.png 1x, ./images/header-hero/hero-milk@2x.png 2x"
                    media="(min-width:1280px)">
                <source srcset="./images/header-hero/hero-milk-tablet.png 1x, ./images/header-hero/hero-milk-tablet@2x.png 2x"
                    media="(min-width:768px)">
                <img src="./images/header-hero/hero-milk.png" alt="Milk">
            </picture>
            
            <picture class="hero-girl-image">
                <source srcset="./images/header-hero/hero-girl.png 1x, ./images/header-hero/hero-girl@2x.png 2x"
                    media="(min-width:1280px)">
                <source srcset="./images/header-hero/hero-girl-tablet.png 1x, ./images/header-hero/hero-girl-tablet@2x.png 2x"
                    media="(min-width:768px)">
                <img src="./images/header-hero/hero-girl.png" alt="Girl">
            </picture>
        </div>
    </div>
</section>