<section class="products">
    <div class="container">
    <p class="products__label">100% natural</p>
    <h2 id="products" class="products__title">products</h2>
    <ul class="products-exemple">
        <li class="products-exemple__item">
            <h3 class="products-exemple__title">ice cream</h3>           
            <p class="products-exemple__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button type="button" class="products-exemple__btn">
                <svg height="18" width="18" class="about-button-icon">
                    <use href="./images/sprite.svg#arrow-long"></use>
                </svg>
            </button>                
        </li>        
        <li class="products-exemple__item">
            <h3 class="products-exemple__title">ice coffee</h3>            
            <p class="products-exemple__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button type="button" class="products-exemple__btn">
                <svg height="18" width="18" class="about-button-icon">
                    <use href="./images/sprite.svg#arrow-long"></use>
                </svg>
            </button>
        </li>        
        <li class="products-exemple__item"><h3 class="products-exemple__title">milkshakes</h3>           
        <p class="products-exemple__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
        <button type="button" class="products-exemple__btn">
            <svg height="18" width="18" class="about-button-icon">
                <use href="./images/sprite.svg#arrow-long"></use>
            </svg>
        </button>
        </li>        
    </ul>
    </div>
</section>