<section class="products" id="products">
    <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-exemple">
        <li class="products-exemple__item">
            <h3 class="products-exemple__title">ice cream</h3>          
                <p class="products-exemple__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                <input type="checkbox" id="read-more-cream" hidden />
                <p class="extra-text">Quas sed nihil provident corporis cum numquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit suscipit molestiae facilis
                    dolorum fugit deleniti.</p>
                <label for="read-more-cream" class="products-exemple__btn">
                    <svg height="18" width="18" class="products-exemple__icon">
                        <use href="./images/sprite.svg#arrow-long"></use>
                    </svg>
                </label>
        </li>        
        <li class="products-exemple__item">
            <h3 class="products-exemple__title">ice coffee</h3>            
            <p class="products-exemple__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna
                aliqua facilisis.</p>                
            <input type="checkbox" id="read-more-coffee" hidden />
            <p class="extra-text">Quas sed nihil provident corporis cum numquam accusamus. Dignissimos, dolores vitae voluptate,
                quam, neque provident impedit suscipit molestiae facilis
                dolorum fugit deleniti.</p>
            <label for="read-more-coffee" class="products-exemple__btn">
                <svg height="18" width="18" class="products-exemple__icon">
                    <use href="./images/sprite.svg#arrow-long"></use>
                </svg>
            </label>
        </li>        
        <li class="products-exemple__item"><h3 class="products-exemple__title">milkshakes</h3>           
        <p class="products-exemple__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>            
        <input type="checkbox" id="read-more-milkshakes" hidden />
        <p class="extra-text">Quas sed nihil provident corporis cum numquam accusamus. Dignissimos, dolores vitae voluptate,
            quam, neque provident impedit suscipit molestiae facilis
            dolorum fugit deleniti.</p>
        <label for="read-more-milkshakes" class="products-exemple__btn">
            <svg height="18" width="18" class="products-exemple__icon">
                <use href="./images/sprite.svg#arrow-long"></use>
            </svg>
        </label>
        </li>        
    </ul>
    </div>
</section>